%h3 At the market...

- @items.each do |item|
  .item{:id => "#{item.id}"}
    = link_to item_path(item.id) do
      = image_tag "#{item.image_url}"

%table
  %tr
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }


%br

= link_to 'New Item', new_item_path